.u-section-1 .u-sheet-1 {
  min-height: 77px;
}

.u-section-1 .u-group-elements-1 {
  width: 601px;
  min-height: 77px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-image-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  width: 76px;
  height: 77px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: -63px 0 0 86px;
}

.u-section-1 .u-btn-1 {
  font-size: 3rem;
  padding: 0;
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 57px;
  }

  .u-section-1 .u-group-elements-1 {
    min-height: 56px;
    margin-top: 1px;
    margin-bottom: 1px;
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    width: 59px;
    height: 56px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -50px;
    margin-left: 65px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 53px;
  }

  .u-section-1 .u-group-elements-1 {
    min-height: 52px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    width: 54px;
    height: 52px;
    margin-top: 1px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -39px;
    margin-left: 57px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.5rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 575px;
}

.u-section-2 .u-group-1 {
  min-height: 544px;
  margin: 0 0 31px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-2 .u-form-1 {
  height: 496px;
  width: 570px;
  margin: 0 auto;
}

.u-section-2 .u-label-1 {
  font-weight: 700;
  font-size: 1.125rem;
}

.u-section-2 .u-label-2 {
  font-weight: 700;
  font-size: 1.125rem;
}

.u-section-2 .u-form-group-3 {
  margin-left: 0;
}

.u-section-2 .u-label-3 {
  font-weight: 700;
  font-size: 1.125rem;
}

.u-section-2 .u-label-4 {
  font-weight: 700;
  font-size: 1.125rem;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-form-1 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-form-1 {
    width: 320px;
    margin-left: 0;
    margin-right: 0;
  }
}