.u-section-1 .u-sheet-1 {
  min-height: 890px;
}

.u-section-1 .u-tabs-1 {
  min-height: 882px;
  width: 1007px;
  margin: 8px auto 0;
}

.u-section-1 .u-tab-list-1 {
  background-image: none;
}

.u-section-1 .u-tab-link-1 {
  background-image: none;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 30px;
}

.u-section-1 .u-tab-link-2 {
  background-image: none;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 30px;
}

.u-section-1 .u-tab-link-3 {
  background-image: none;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 30px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-line-1 {
  border-style: dashed;
  transform-origin: left center 0px;
  margin-top: 14px;
  margin-bottom: 0;
}

.u-section-1 .u-group-1 {
  width: 953px;
  min-height: 972px;
  margin: 24px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  min-height: 802px;
  grid-gap: 0px;
}

.u-section-1 .u-container-layout-3 {
  padding: 20px 10px;
}

.u-section-1 .u-image-1 {
  height: 165px;
  margin: 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.125rem;
  text-transform: uppercase;
  margin: 14px 0 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 20px 10px;
}

.u-section-1 .u-image-2 {
  height: 165px;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  text-transform: uppercase;
  margin: 14px 0 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 20px 10px;
}

.u-section-1 .u-image-3 {
  height: 165px;
  margin: 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  text-transform: uppercase;
  margin: 14px 0 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 20px 10px;
}

.u-section-1 .u-image-4 {
  height: 165px;
  margin: 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.125rem;
  text-transform: uppercase;
  margin: 14px 0 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 20px 10px;
}

.u-section-1 .u-image-5 {
  height: 165px;
  margin: 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.125rem;
  text-transform: uppercase;
  margin: 14px 0 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 20px 10px;
}

.u-section-1 .u-image-6 {
  height: 165px;
  margin: 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.125rem;
  text-transform: uppercase;
  margin: 14px 0 0;
}

.u-section-1 .u-container-layout-9 {
  padding: 20px 10px;
}

.u-section-1 .u-image-7 {
  height: 165px;
  object-position: 50% 0%;
  margin: 0;
}

.u-section-1 .u-text-7 {
  font-size: 1.125rem;
  text-transform: uppercase;
  margin: 14px 0 0;
}

.u-section-1 .u-container-layout-10 {
  padding: 20px 10px;
}

.u-section-1 .u-image-8 {
  height: 165px;
  object-position: 50% 0%;
  margin: 0;
}

.u-section-1 .u-text-8 {
  font-size: 1.125rem;
  text-transform: uppercase;
  margin: 14px 0 0;
}

.u-section-1 .u-container-layout-11 {
  padding: 20px 10px;
}

.u-section-1 .u-image-9 {
  height: 165px;
  margin: 0;
}

.u-section-1 .u-text-9 {
  font-size: 1.125rem;
  text-transform: uppercase;
  margin: 14px 0 0;
}

.u-section-1 .u-container-layout-12 {
  padding: 20px 10px;
}

.u-section-1 .u-image-10 {
  height: 165px;
  object-position: 50% 0%;
  margin: 0;
}

.u-section-1 .u-text-10 {
  font-size: 1.125rem;
  text-transform: uppercase;
  margin: 14px 0 0;
}

.u-section-1 .u-container-layout-13 {
  padding: 20px 10px;
}

.u-section-1 .u-image-11 {
  height: 165px;
  object-position: 50% 0%;
  margin: 0;
}

.u-section-1 .u-text-11 {
  font-size: 1.125rem;
  text-transform: uppercase;
  margin: 14px 0 0;
}

.u-section-1 .u-container-layout-14 {
  padding: 20px 10px;
}

.u-section-1 .u-image-12 {
  height: 165px;
  object-position: 50% 0%;
  margin: 0;
}

.u-section-1 .u-text-12 {
  font-size: 1.125rem;
  text-transform: uppercase;
  margin: 14px 0 0;
}

.u-section-1 .u-container-layout-15 {
  padding: 20px 10px;
}

.u-section-1 .u-image-13 {
  height: 165px;
  object-position: 50% 0%;
  margin: 0;
}

.u-section-1 .u-text-13 {
  font-size: 1.125rem;
  text-transform: uppercase;
  margin: 14px 0 0;
}

.u-section-1 .u-container-layout-16 {
  padding: 0;
}

.u-section-1 .u-line-2 {
  border-style: dashed;
  transform-origin: left center 0px;
  margin-top: 14px;
  margin-bottom: 0;
}

.u-section-1 .u-group-2 {
  width: 953px;
  min-height: 803px;
  margin: 24px auto 0;
}

.u-section-1 .u-container-layout-17 {
  padding: 0;
}

.u-section-1 .u-list-2 {
  grid-template-rows: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-2 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  min-height: 802px;
  grid-gap: 0px;
}

.u-section-1 .u-container-layout-18 {
  padding: 20px 10px;
}

.u-section-1 .u-image-14 {
  height: 165px;
  margin: 0;
}

.u-section-1 .u-text-14 {
  font-size: 1.25rem;
  text-transform: uppercase;
  margin: 14px auto 0;
}

.u-section-1 .u-container-layout-19 {
  padding: 20px 10px;
}

.u-section-1 .u-image-15 {
  height: 165px;
  margin: 0;
}

.u-section-1 .u-text-15 {
  font-size: 1.25rem;
  text-transform: uppercase;
  margin: 14px auto 0;
}

.u-section-1 .u-container-layout-20 {
  padding: 20px 10px;
}

.u-section-1 .u-image-16 {
  height: 165px;
  margin: 0;
}

.u-section-1 .u-text-16 {
  font-size: 1.25rem;
  text-transform: uppercase;
  margin: 14px auto 0;
}

.u-section-1 .u-container-layout-21 {
  padding: 20px 10px;
}

.u-section-1 .u-image-17 {
  height: 165px;
  margin: 0;
}

.u-section-1 .u-text-17 {
  font-size: 1.25rem;
  text-transform: uppercase;
  margin: 14px auto 0;
}

.u-section-1 .u-container-layout-22 {
  padding: 20px 10px;
}

.u-section-1 .u-image-18 {
  height: 165px;
  margin: 0;
}

.u-section-1 .u-text-18 {
  font-size: 1.25rem;
  text-transform: uppercase;
  margin: 14px auto 0;
}

.u-section-1 .u-container-layout-23 {
  padding: 20px 10px;
}

.u-section-1 .u-image-19 {
  height: 165px;
  margin: 0;
}

.u-section-1 .u-text-19 {
  font-size: 1.25rem;
  text-transform: uppercase;
  margin: 14px auto 0;
}

.u-section-1 .u-container-layout-24 {
  padding: 20px 10px;
}

.u-section-1 .u-image-20 {
  height: 165px;
  object-position: 50% 100%;
  margin: 0;
}

.u-section-1 .u-text-20 {
  font-size: 1.25rem;
  text-transform: uppercase;
  margin: 14px auto 0;
}

.u-section-1 .u-container-layout-25 {
  padding: 20px 10px;
}

.u-section-1 .u-image-21 {
  height: 165px;
  object-position: 50% 23.55%;
  margin: 0;
}

.u-section-1 .u-text-21 {
  font-size: 1.25rem;
  text-transform: uppercase;
  margin: 14px auto 0;
}

.u-section-1 .u-container-layout-26 {
  padding: 20px 10px;
}

.u-section-1 .u-image-22 {
  height: 165px;
  object-position: 50% 100%;
  margin: 0;
}

.u-section-1 .u-text-22 {
  font-size: 1.25rem;
  text-transform: uppercase;
  margin: 14px auto 0;
}

.u-section-1 .u-container-layout-27 {
  padding: 0;
}

.u-section-1 .u-line-3 {
  border-style: dashed;
  transform-origin: left center 0px;
  margin-top: 14px;
  margin-bottom: 0;
}

.u-section-1 .u-group-3 {
  width: 953px;
  min-height: 803px;
  margin: 24px auto 0;
}

.u-section-1 .u-container-layout-28 {
  padding: 0;
}

.u-section-1 .u-list-3 {
  grid-template-rows: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-3 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  min-height: 802px;
  grid-gap: 0px;
}

.u-section-1 .u-container-layout-29 {
  padding: 20px 10px;
}

.u-section-1 .u-image-23 {
  height: 165px;
  margin: 0;
}

.u-section-1 .u-text-23 {
  font-size: 1.25rem;
  text-transform: uppercase;
  margin: 14px auto 0;
}

.u-section-1 .u-container-layout-30 {
  padding: 20px 10px;
}

.u-section-1 .u-image-24 {
  height: 165px;
  object-position: 50% 0%;
  margin: 0;
}

.u-section-1 .u-text-24 {
  font-size: 1.25rem;
  text-transform: uppercase;
  margin: 14px auto 0;
}

.u-section-1 .u-container-layout-31 {
  padding: 20px 10px;
}

.u-section-1 .u-image-25 {
  height: 165px;
  margin: 0;
}

.u-section-1 .u-text-25 {
  font-size: 1.25rem;
  text-transform: uppercase;
  margin: 14px auto 0;
}

.u-section-1 .u-container-layout-32 {
  padding: 20px 10px;
}

.u-section-1 .u-image-26 {
  height: 165px;
  margin: 0;
}

.u-section-1 .u-text-26 {
  font-size: 1.25rem;
  text-transform: uppercase;
  margin: 14px auto 0;
}

.u-section-1 .u-container-layout-33 {
  padding: 20px 10px;
}

.u-section-1 .u-image-27 {
  height: 165px;
  margin: 0;
}

.u-section-1 .u-text-27 {
  font-size: 1.25rem;
  text-transform: uppercase;
  margin: 14px auto 0;
}

.u-section-1 .u-container-layout-34 {
  padding: 20px 10px;
}

.u-section-1 .u-image-28 {
  height: 165px;
  margin: 0;
}

.u-section-1 .u-text-28 {
  font-size: 1.25rem;
  text-transform: uppercase;
  margin: 14px auto 0;
}

.u-section-1 .u-container-layout-35 {
  padding: 20px 10px;
}

.u-section-1 .u-image-29 {
  height: 165px;
  object-position: 50% 0%;
  margin: 0;
}

.u-section-1 .u-text-29 {
  font-size: 1.25rem;
  text-transform: uppercase;
  margin: 14px auto 0;
}

.u-section-1 .u-container-layout-36 {
  padding: 20px 10px;
}

.u-section-1 .u-image-30 {
  height: 165px;
  object-position: 50% 0%;
  margin: 0;
}

.u-section-1 .u-text-30 {
  font-size: 1.25rem;
  text-transform: uppercase;
  margin: 14px auto 0;
}

.u-section-1 .u-container-layout-37 {
  padding: 20px 10px;
}

.u-section-1 .u-image-31 {
  height: 165px;
  margin: 0;
}

.u-section-1 .u-text-31 {
  font-size: 1.25rem;
  text-transform: uppercase;
  margin: 14px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-tabs-1 {
    height: auto;
    width: 940px;
  }

  .u-section-1 .u-group-1 {
    width: 940px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 791px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 1px;
  }

  .u-section-1 .u-image-1 {
    height: 134px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-4 {
    padding-bottom: 1px;
  }

  .u-section-1 .u-image-2 {
    height: 134px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-5 {
    padding-bottom: 1px;
  }

  .u-section-1 .u-image-3 {
    height: 134px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-6 {
    padding-bottom: 1px;
  }

  .u-section-1 .u-image-4 {
    height: 134px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-7 {
    padding-bottom: 1px;
  }

  .u-section-1 .u-image-5 {
    height: 134px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-8 {
    padding-bottom: 1px;
  }

  .u-section-1 .u-image-6 {
    height: 134px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-9 {
    padding-bottom: 1px;
  }

  .u-section-1 .u-image-7 {
    height: 134px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-10 {
    padding-bottom: 1px;
  }

  .u-section-1 .u-image-8 {
    height: 134px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-11 {
    padding-bottom: 1px;
  }

  .u-section-1 .u-image-9 {
    height: 134px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-12 {
    padding-bottom: 1px;
  }

  .u-section-1 .u-image-10 {
    height: 134px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-13 {
    padding-bottom: 1px;
  }

  .u-section-1 .u-image-11 {
    height: 134px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-14 {
    padding-bottom: 1px;
  }

  .u-section-1 .u-image-12 {
    height: 134px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-15 {
    padding-bottom: 1px;
  }

  .u-section-1 .u-image-13 {
    height: 134px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-2 {
    width: 940px;
  }

  .u-section-1 .u-repeater-2 {
    min-height: 834px;
  }

  .u-section-1 .u-container-layout-18 {
    padding-bottom: 1px;
  }

  .u-section-1 .u-image-14 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-19 {
    padding-bottom: 1px;
  }

  .u-section-1 .u-image-15 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-20 {
    padding-bottom: 1px;
  }

  .u-section-1 .u-image-16 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-21 {
    padding-bottom: 1px;
  }

  .u-section-1 .u-image-17 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-22 {
    padding-bottom: 1px;
  }

  .u-section-1 .u-image-18 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-23 {
    padding-bottom: 1px;
  }

  .u-section-1 .u-image-19 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-24 {
    padding-bottom: 1px;
  }

  .u-section-1 .u-image-20 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-25 {
    padding-bottom: 1px;
  }

  .u-section-1 .u-image-21 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-26 {
    padding-bottom: 1px;
  }

  .u-section-1 .u-image-22 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-3 {
    width: 940px;
  }

  .u-section-1 .u-repeater-3 {
    min-height: 834px;
  }

  .u-section-1 .u-container-layout-29 {
    padding-bottom: 1px;
  }

  .u-section-1 .u-image-23 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-30 {
    padding-bottom: 1px;
  }

  .u-section-1 .u-image-24 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-31 {
    padding-bottom: 1px;
  }

  .u-section-1 .u-image-25 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-32 {
    padding-bottom: 1px;
  }

  .u-section-1 .u-image-26 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-33 {
    padding-bottom: 1px;
  }

  .u-section-1 .u-image-27 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-34 {
    padding-bottom: 1px;
  }

  .u-section-1 .u-image-28 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-35 {
    padding-bottom: 1px;
  }

  .u-section-1 .u-image-29 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-36 {
    padding-bottom: 1px;
  }

  .u-section-1 .u-image-30 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-37 {
    padding-bottom: 1px;
  }

  .u-section-1 .u-image-31 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-tabs-1 {
    width: 720px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 50% 50%;
    min-height: 1272px;
  }

  .u-section-1 .u-image-1 {
    height: 155px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-2 {
    height: 155px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-3 {
    height: 155px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-4 {
    height: 155px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-5 {
    height: 155px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-6 {
    height: 155px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-7 {
    height: 155px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-8 {
    height: 155px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-9 {
    height: 155px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-10 {
    height: 155px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-11 {
    height: 155px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-12 {
    height: 155px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-13 {
    height: 155px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-2 {
    width: 720px;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: 50% 50%;
    min-height: 1596px;
  }

  .u-section-1 .u-image-14 {
    height: 263px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-15 {
    height: 263px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-16 {
    height: 263px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-17 {
    height: 263px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-18 {
    height: 263px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-19 {
    height: 263px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-20 {
    height: 263px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-21 {
    height: 263px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-22 {
    height: 263px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-3 {
    width: 720px;
  }

  .u-section-1 .u-repeater-3 {
    grid-template-columns: 50% 50%;
    min-height: 1596px;
  }

  .u-section-1 .u-image-23 {
    height: 263px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-24 {
    height: 263px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-25 {
    height: 263px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-26 {
    height: 263px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-27 {
    height: 263px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-28 {
    height: 263px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-29 {
    height: 263px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-30 {
    height: 263px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-31 {
    height: 263px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-tabs-1 {
    width: 540px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-image-1 {
    height: 237px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-2 {
    height: 237px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-3 {
    height: 237px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-4 {
    height: 237px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-5 {
    height: 237px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-6 {
    height: 237px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-7 {
    height: 237px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-8 {
    height: 237px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-9 {
    height: 237px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-10 {
    height: 237px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-11 {
    height: 237px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-12 {
    height: 237px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-13 {
    height: 237px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-2 {
    width: 540px;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-image-14 {
    height: 402px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-15 {
    height: 402px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-16 {
    height: 402px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-17 {
    height: 402px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-18 {
    height: 402px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-19 {
    height: 402px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-20 {
    height: 402px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-21 {
    height: 402px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-22 {
    height: 402px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-3 {
    width: 540px;
  }

  .u-section-1 .u-repeater-3 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-image-23 {
    height: 402px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-24 {
    height: 402px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-25 {
    height: 402px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-26 {
    height: 402px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-27 {
    height: 402px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-28 {
    height: 402px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-29 {
    height: 402px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-30 {
    height: 402px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-31 {
    height: 402px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2147px;
  }

  .u-section-1 .u-tabs-1 {
    min-height: 2124px;
    margin-top: 23px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-tab-link-1 {
    font-size: 0.75rem;
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-1 .u-tab-link-2 {
    font-size: 0.75rem;
  }

  .u-section-1 .u-tab-link-3 {
    font-size: 0.75rem;
  }

  .u-section-1 .u-line-1 {
    transform-origin: left center;
    width: 341px;
    margin-top: 18px;
    margin-left: -1px;
    margin-right: -1px;
  }

  .u-section-1 .u-group-1 {
    min-height: 2106px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 1px;
  }

  .u-section-1 .u-image-1 {
    height: 168px;
    margin-top: 16px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 1px;
  }

  .u-section-1 .u-image-2 {
    height: 168px;
    margin-top: 16px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 1px;
  }

  .u-section-1 .u-image-3 {
    height: 168px;
    margin-top: 16px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 1px;
  }

  .u-section-1 .u-image-4 {
    height: 168px;
    margin-top: 16px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-7 {
    padding-top: 1px;
  }

  .u-section-1 .u-image-5 {
    height: 168px;
    margin-top: 16px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-8 {
    padding-top: 1px;
  }

  .u-section-1 .u-image-6 {
    height: 168px;
    object-position: 50% 62.38%;
    margin-top: 16px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-9 {
    padding-top: 1px;
  }

  .u-section-1 .u-image-7 {
    height: 168px;
    margin-top: 16px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-10 {
    padding-top: 1px;
  }

  .u-section-1 .u-image-8 {
    object-position: 50% 46.44%;
    height: 168px;
    margin-top: 16px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-11 {
    padding-top: 1px;
  }

  .u-section-1 .u-image-9 {
    object-position: 97.79% 50%;
    height: 168px;
    margin-top: 16px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-12 {
    padding-top: 1px;
  }

  .u-section-1 .u-image-10 {
    height: 168px;
    margin-top: 16px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-13 {
    padding-top: 1px;
  }

  .u-section-1 .u-image-11 {
    height: 168px;
    margin-top: 16px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-14 {
    padding-top: 1px;
  }

  .u-section-1 .u-image-12 {
    height: 168px;
    margin-top: 16px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-15 {
    padding-top: 1px;
  }

  .u-section-1 .u-image-13 {
    height: 168px;
    margin-top: 16px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-line-2 {
    height: 1px;
    margin-top: 19px;
  }

  .u-section-1 .u-group-2 {
    min-height: 2083px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-2 {
    min-height: 2083px;
  }

  .u-section-1 .u-container-layout-18 {
    padding-top: 0;
  }

  .u-section-1 .u-image-14 {
    height: 167px;
    margin-top: 16px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-19 {
    padding-top: 0;
  }

  .u-section-1 .u-image-15 {
    height: 167px;
    margin-top: 16px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-20 {
    padding-top: 0;
  }

  .u-section-1 .u-image-16 {
    height: 167px;
    margin-top: 16px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-21 {
    padding-top: 0;
  }

  .u-section-1 .u-image-17 {
    height: 167px;
    margin-top: 16px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-22 {
    padding-top: 0;
  }

  .u-section-1 .u-image-18 {
    height: 167px;
    margin-top: 16px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-23 {
    padding-top: 0;
  }

  .u-section-1 .u-image-19 {
    height: 167px;
    margin-top: 16px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-24 {
    padding-top: 0;
  }

  .u-section-1 .u-image-20 {
    height: 167px;
    margin-top: 16px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-25 {
    padding-top: 0;
  }

  .u-section-1 .u-image-21 {
    height: 167px;
    margin-top: 16px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-26 {
    padding-top: 0;
  }

  .u-section-1 .u-image-22 {
    height: 167px;
    object-position: 97.79% 50%;
    margin-top: 16px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-line-3 {
    height: 1px;
    margin-top: 18px;
  }

  .u-section-1 .u-group-3 {
    min-height: 2083px;
    margin-top: 0;
    width: 340px;
  }

  .u-section-1 .u-repeater-3 {
    min-height: 2083px;
  }

  .u-section-1 .u-container-layout-29 {
    padding-top: 0;
    padding-bottom: 6px;
  }

  .u-section-1 .u-image-23 {
    height: 167px;
    margin-top: 16px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-30 {
    padding-top: 0;
    padding-bottom: 6px;
  }

  .u-section-1 .u-image-24 {
    height: 167px;
    margin-top: 16px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-31 {
    padding-top: 0;
    padding-bottom: 6px;
  }

  .u-section-1 .u-image-25 {
    height: 167px;
    margin-top: 16px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-32 {
    padding-top: 0;
    padding-bottom: 6px;
  }

  .u-section-1 .u-image-26 {
    height: 167px;
    margin-top: 16px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-33 {
    padding-top: 0;
    padding-bottom: 6px;
  }

  .u-section-1 .u-image-27 {
    height: 167px;
    margin-top: 16px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-34 {
    padding-top: 0;
    padding-bottom: 6px;
  }

  .u-section-1 .u-image-28 {
    height: 167px;
    margin-top: 16px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-35 {
    padding-top: 0;
    padding-bottom: 6px;
  }

  .u-section-1 .u-image-29 {
    height: 167px;
    margin-top: 16px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-36 {
    padding-top: 0;
    padding-bottom: 6px;
  }

  .u-section-1 .u-image-30 {
    height: 167px;
    margin-top: 16px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-37 {
    padding-top: 0;
    padding-bottom: 6px;
  }

  .u-section-1 .u-image-31 {
    height: 167px;
    object-position: 97.79% 50%;
    margin-top: 16px;
    margin-right: initial;
    margin-left: initial;
  }
}